
<mat-card>
    <mat-card-header>
        Visor Excel

        <div *ngIf = "asset">
        Nombre de archivo: {{asset.assetId}}
        </div>

        <input id="uploadBtn" type="file" (change)="readExcel($event)" 
                class="upload input-common" required />

    </mat-card-header>
    <table mat-table [dataSource]="excelRows" class="mat-elevation-z8">
        <ng-container *ngFor="let col of columnsToDisplay" [matColumnDef]="col">
            <th mat-header-cell *matHeaderCellDef> {{col}} </th>
            <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</mat-card>